@import 'shared/ui/styles/variables'

$color-typo-primary: $grey-dark-3
$color-bg-primary: $white
$color-bg-secondary: #F9F9F9
$color-border-primary: $grey-1
$color-border-secondary: $grey-2

.order__block_container
  background: $color-bg-primary
  border: 1px solid $color-border-primary
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25)

  &:not(:last-child)
    margin-bottom: 45px

.order__block_header
  padding: 35px
  transition: 0.2s

  &:not(:last-child)
    background: $color-bg-secondary
    border-bottom: 1px dashed $color-border-secondary

  &_title
    font-size: 1.875rem // 30px
    color: $color-typo-primary

.order__block_section
  border-bottom: 0px
  // padding-inline: 35px
  // padding-block: 40px 50px
  padding: 40px 35px

  &:not(:last-child)
    border-bottom: 1px dashed $color-border-secondary

.order__block_row
  display: flex
  gap: 25px

  &:not(:last-child)
    margin-bottom: 45px

.order__block_item:not(:last-child)
  border-bottom: 1px dashed $color-border-secondary
