@import 'styles/mixins'

.menu-links
  background-color: #292929

  &__list
    display: flex
    flex-wrap: wrap
    gap: 80px

    @include section-width

  &__item
    padding: 25px 5px
    font-weight: 300
    font-size: 30px
    line-height: 35px

    cursor: pointer

    // &:hover
    //   background-color: #333333

.menu-link
  color: #ffffff
