@import 'styles/variables'

.order__input_container
  width: 100%

.order__input
  display: block
  padding-inline: 15px
  height: 50px
  box-sizing: border-box
  background: #FFFFFF
  border: 1px solid #928F94
  border-radius: 5px
  max-width: 360px
  width: 100%

  &_label
    display: block
    font-size: 1rem
    color: #292929
    margin-bottom: 12px
