
.check-step__header
  padding: 30px
  border-bottom: 1px solid #928F94

.check-step__section
  display: flex

  &_main
    flex: 1
    padding-block: 30px 60px

  &_row
    &:not(:last-child)
      border-bottom: 1px dashed #E5E5E5

  &_aside
    max-width: 280px
    width: 100%
    border-left: 1px dashed #E5E5E5
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 25px

.check-step__passenger_item
  display: flex
  gap: 30px
  padding: 30px

.passenger__type_container
  display: flex
  flex-direction: column
  align-items: center
  gap: 15px

  max-width: 100px
  width: 100%

.passenger__icon
  width: 68px
  height: 68px
  background: #FFA800
  border-radius: 50%
  padding: 15px

  & .icon
    fill: white

.passenger__type
  font-size: 1.125rem
  color: #292929

.passenger__info_full-name
  font-size: 1.125rem
  color: #292929
  margin-bottom: 12px

.passenger__info_unit
  font-size: 1.125rem
  color: #928F94

  &:not(:last-child)
    margin-bottom: 8px

.check-step__payment-method
  padding: 15px 30px
  font-size: 1.5rem
  color: #292929

.check-step__sum
  margin-bottom: 30px
  font-size: 30px
  color: #292929
  display: flex

  &_number
    margin-left: auto
    font-weight: 700

  &_currency
    margin-left: 0.25em
    color: #928F94

.online-payment-methods
  display: flex
  align-items: flex-start
  margin-top: 30px

  &__item
    flex-basis: 200px

  &__input
    position: absolute
    width: 0
    height: 0

    &:checked + .online-payment-methods__label_text
      color: #FFA800

  &__label_text
    font-weight: 700
    font-size: 24px
    line-height: 28px
    color: #292929

  &__label
    cursor: pointer

.results
  &__info
    display: flex
    align-items: baseline

    margin-bottom: 45px

    font-size: 18px

    color: #928F94

  &__amount
    flex-basis: 50%

  &__sort-by
    margin-right: 10px
    display: flex
    align-items: baseline
    flex-shrink: 0
    flex-basis: 300px

    &_select
      margin-left: 0.25em

      .select__button
        font-size: 18px
        padding: 5px

      .select__options
        width: 140px
        background: #F7F5F9
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

        &.show
          left: -1px

      .select__options_item
        padding: 5px

.results__amount-per-page
  flex-shrink: 0

.results__amount-per-page_inputs
  display: inline
  margin-left: 0.5em

.amount-per-page__input
  position: absolute
  width: 0
  height: 0

  &:checked + .amount-per-page__input_span
    color: black

  &_label
    user-select: none
    cursor: pointer

    &:not(:last-child)
      margin-right: 0.5em
